//Variables
$default-font: sans-serif;
$primary-font: monospace;
$secondary-font: cursive;

$border-radius: 0.2rem;
$border-color: #96939b;

$font-color: #bfbfbf;
$base-color: #2274a5;

$shadow-color: #fcfcfc;
$shadow-font-color: #454347;
$box-shadow-direction: 19px 21px 17px 0px;