//Variables
$default-font: serif;
$primary-font: sans-serif;
$secondary-font: monospace;

$border-radius: 0.2rem;
$border-color: #96939b;

$font-color: #e8e8e8;
$base-color: #fc814a;

$shadow-color: #fcfcfc;
$shadow-font-color: #454347;
$box-shadow-direction: -19px 21px 17px 0px;