//Variables
$default-background-color: #646464;
$default-font-family: sans-serif;
$default-font-size: 1rem;
$default-line-height: 1.5rem;
$default-content-padding: 0.5rem 3rem;

$primary-base-color: #f7b2ad;
$primary-font-family: sans-serif;
$primary-font-color: #333232;
$primary-font-size: $default-font-size * 1.2;

$secondary-base-color: #5e5452;
$secondary-font-family: sans-serif;
$secondary-font-color: #ebebeb;
$secondary-font-size: $default-font-size * 1.2;

$sidebar-base-color: #333232;
$sidebar-font-family: sans-serif;
$sidebar-font-color: #f7b2ad;
$sidebar-font-size: $default-font-size * 0.8;